@charset "UTF-8";
@media (max-width: 767.98px) {
  .mobile {
    display: inherit !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .mobile {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .tablet {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .tablet {
    display: inherit !important;
  }
}
@media (min-width: 1200px) {
  .tablet {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .desktop {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .desktop {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .desktop {
    display: inherit !important;
  }
}

@media (max-width: 767.98px) {
  .mobile-tablet {
    display: inherit !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .mobile-tablet {
    display: inherit !important;
  }
}
@media (min-width: 1200px) {
  .mobile-tablet {
    display: none !important;
  }
}

@font-face {
  font-family: "Arboria-import";
  src: url(/assets/Arboria/Arboria-Light.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Arboria-import";
  src: url(/assets/Arboria/Arboria-Book.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Arboria-import";
  src: url(/assets/Arboria/Arboria-Medium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Arboria-import";
  src: url(/assets/Arboria/Arboria-Bold.ttf);
  font-weight: 700;
}
body {
  font-family: "Arboria-import", sans-serif;
}

* {
  transition: all 0.15s linear;
}

::placeholder {
  color: #afafaf;
}

.container {
  width: 91.4%;
  display: flex;
  justify-content: space-between;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

p {
  font-family: "Arboria-import", sans-serif;
}

.disabled {
  display: none !important;
}

@media (max-width: 767.98px) {
  .disabled_li {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .disabled_li {
    display: none !important;
  }
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
}
@media (max-width: 767.98px) {
  .header {
    position: fixed;
    z-index: 9999;
    top: 0px;
    padding-bottom: 8px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header {
    position: fixed;
    z-index: 9999;
    top: 0px;
    padding-bottom: 8px;
  }
}
.header__logo {
  justify-content: center;
  height: 60px;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header__logo__img {
    height: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__logo__img {
    height: 18px;
  }
}
@media (min-width: 1200px) {
  .header__logo__img {
    height: 21px;
  }
}
.header__logo__menu {
  position: absolute;
  left: 6%;
  cursor: pointer;
}
.header__logo__menu--close {
  width: 2rem;
  height: 2rem;
  background: url(../assets/menu.svg);
}
.header__logo__menu--close::after {
  bottom: -6px;
  left: 1.2px;
  content: "menu";
  display: block;
  position: absolute;
  font-size: 0.7rem;
  color: #4F4F4F;
}
.header__logo__menu--open {
  width: 2rem;
  height: 2rem;
  background: url(../assets/close.svg);
}
.header__logo__menu--open::after {
  bottom: -6px;
  left: 1.2px;
  content: "fechar";
  display: block;
  position: absolute;
  font-size: 0.7rem;
  color: #4F4F4F;
}
.header__search {
  justify-content: center;
  border: 0.8px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  height: 38.813px;
}
.header__search:hover {
  border: 1px solid #252525;
  box-sizing: border-box;
}
.header__search:focus-within {
  border: 2px solid #161616;
  box-sizing: border-box;
}
.header__search:focus-within .header__search__deco {
  padding-left: 11px;
}
.header__search__input {
  width: 100%;
  font-size: 16px;
  font-family: "Arboria-import", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border: 0;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  letter-spacing: inherit;
  padding-left: 2px;
  outline: none;
}
.header__search__input:hover {
  border: none;
}
.header__search__input:active {
  border: none;
}
.header__search__input:focus {
  border: none;
}
.header__search__deco {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
}
.header__search__deco--glass {
  fill: rgba(0, 0, 0, 0.26);
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  flex-shrink: 0;
  user-select: none;
}
@media (min-width: 1200px) {
  .header__menu {
    display: block !important;
  }
}
@media (max-width: 767.98px) {
  .header__menu--close {
    position: fixed;
    background: #fff;
    width: 60%;
    z-index: 999999;
    top: 108px;
    left: -100%;
    height: calc(100% - 108px);
    overflow: auto;
  }
  .header__menu--open {
    position: fixed;
    background: #fff;
    width: 60%;
    z-index: 999999;
    top: 108px;
    left: 0;
    height: calc(100% - 108px);
    overflow: auto;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__menu--close {
    position: fixed;
    background: #fff;
    width: 50%;
    z-index: 999999;
    top: 108px;
    left: -100%;
    height: calc(100% - 108px);
    overflow: auto;
  }
  .header__menu--open {
    position: fixed;
    background: #fff;
    width: 50%;
    z-index: 999999;
    top: 108px;
    left: 0;
    height: calc(100% - 108px);
    overflow: auto;
  }
}
.header__menu__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (max-width: 767.98px) {
  .header__menu__list {
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__menu__list {
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
  }
}
.header__menu__list__link {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.5;
}
@media (max-width: 767.98px) {
  .header__menu__list__link {
    padding: 1rem;
    border-bottom: 1px solid #e7e7e7;
    font-size: 0.7rem;
  }
  .header__menu__list__link::after {
    content: ">";
    position: absolute;
    right: 0;
    margin-right: 2rem;
    font-size: 1rem;
    font-family: cursive;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__menu__list__link {
    padding: 1rem;
    border-bottom: 1px solid #e7e7e7;
  }
  .header__menu__list__link::after {
    content: ">";
    position: absolute;
    right: 0;
    margin-right: 2rem;
    font-size: 1rem;
    font-family: cursive;
  }
}
.header__menu__list__link a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
}
.header__menu__list__link a:hover {
  border-bottom: 2px solid #000;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767.98px) {
  .main {
    margin-top: 108px;
  }
}
.main__container {
  width: 83%;
}
.main__container__breadcrumbs {
  padding: 1rem 0;
  color: #1a1a1a;
  font-size: 0.78rem;
  font-family: "Arboria-import", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}
@media (max-width: 767.98px) {
  .main__container__breadcrumbs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .main__container__breadcrumbs {
    display: inherit !important;
  }
}
@media (min-width: 1200px) {
  .main__container__breadcrumbs {
    display: inherit !important;
  }
}
.main__container__breadcrumbs nav ol {
  margin: 0;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}
.main__container__breadcrumbs nav ol li {
  margin-right: 15px;
}
.main__container__breadcrumbs nav ol li:not(:last-child):after {
  content: " /";
  position: relative;
  left: 6px;
}
.main__container__breadcrumbs nav ol li a {
  color: #575656;
}
.main__container__breadcrumbs nav ol li a:hover {
  border-bottom: 1px solid #111111;
}
.main__container__filters {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
@media (max-width: 767.98px) {
  .main__container__filters {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .main__container__filters {
    display: inherit !important;
  }
}
@media (min-width: 1200px) {
  .main__container__filters {
    display: inherit !important;
  }
}
.main__container__filters ul {
  font-size: 0.7rem;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}
.main__container__filters ul li {
  padding: 15.5px 10px;
  padding-right: 21.5px;
  cursor: pointer;
}
.main__container__filters ul li:hover {
  background: #f1f1f1;
}
.main__container__filters ul li::after {
  content: "˅";
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  left: 15px;
  bottom: -5.5px;
  font-family: monospace;
}
.main__container__products {
  width: calc(100% + 16px);
  margin: -8px;
}
.main__container__products ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: calc(100% + 16px);
  margin: -8px;
}
.main__container__products ol li {
  flex-grow: 0;
  padding: 8px;
  box-sizing: border-box;
}
@media (max-width: 767.98px) {
  .main__container__products ol li {
    max-width: 50%;
    flex-basis: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .main__container__products ol li {
    max-width: 33.33%;
    flex-basis: 33.33%;
  }
}
@media (min-width: 1200px) {
  .main__container__products ol li {
    max-width: 25%;
    flex-basis: 25%;
  }
}
.main__container__products ol li div {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 16px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  border: 1px solid white;
  box-sizing: border-box;
}
.main__container__products ol li div:hover {
  border: 1px solid #f1f1f1;
  border-bottom: 1px solid #1a1a1a;
}
.main__container__products ol li div img {
  max-width: 100%;
  min-width: 150px;
}
.main__container__products ol li div p {
  color: rgba(0, 0, 0, 0.87);
  margin-top: 8px;
  min-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-family: "Arboria-import", sans-serif;
  font-weight: 600;
  line-height: 1.43;
}
.main__container__products ol li div p:nth-child(2) {
  color: #666565 !important;
  font-size: 0.6875rem;
  font-weight: 500;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-top: 3px solid #E0E0E0;
  margin-top: 1.5rem;
  padding-top: 16px;
}
.footer__firstline {
  display: flex;
  width: 100%;
  justify-content: center;
}
.footer__firstline__container {
  width: 91.4%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer__firstline__container {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__firstline__container {
    flex-direction: column;
  }
}
.footer__firstline__offers {
  width: 70%;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 767.98px) {
  .footer__firstline__offers {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__firstline__offers {
    width: 100%;
    justify-content: center;
  }
}
.footer__firstline__offers p {
  height: 35px;
  line-height: 35px;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 600;
  margin-right: 1rem;
}
@media (max-width: 767.98px) {
  .footer__firstline__offers p {
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__firstline__offers p {
    margin-right: 0;
  }
}
.footer__firstline__offers__form {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
@media (max-width: 767.98px) {
  .footer__firstline__offers__form {
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__firstline__offers__form {
    width: 100%;
    justify-content: center;
  }
}
.footer__firstline__offers__form__input {
  display: flex;
  align-items: center;
  border-bottom: 1px inset #ccc;
  box-sizing: border-box;
  margin-right: 1rem;
}
@media (max-width: 767.98px) {
  .footer__firstline__offers__form__input {
    width: 50%;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__firstline__offers__form__input {
    width: 50%;
    justify-content: center;
  }
}
.footer__firstline__offers__form__input:hover {
  border-bottom: 1px inset #363636;
}
.footer__firstline__offers__form__input:focus-within {
  border-bottom: 1px inset #363636;
}
.footer__firstline__offers__form__input:nth-child(2):after {
  content: "@";
  color: #222222;
  top: 0px;
  left: 0px;
  font-size: 0.8rem;
  position: relative;
  font-weight: 600;
}
.footer__firstline__offers__form__input input {
  border: none;
  outline: none;
  font-size: 0.9rem;
  width: 10rem;
  background: transparent;
  padding: 0;
  font-family: "Arboria-import", sans-serif;
  font-weight: 600;
}
.footer__firstline__offers__form__input input:active {
  border: none;
}
.footer__firstline__offers__form__input input:focus {
  border: none;
}
.footer__firstline__offers__form__input select {
  border: none;
  outline: none;
  font-size: 0.9rem;
  width: 6rem;
  background: transparent;
  padding: 0;
  font-family: "Arboria-import", sans-serif;
  font-weight: 600;
  color: #636363;
}
.footer__firstline__offers__form__input select:active {
  border: none;
}
.footer__firstline__offers__form__input select:focus {
  border: none;
}
.footer__firstline__offers button {
  text-transform: uppercase;
  cursor: default;
  pointer-events: none;
  border: transparent;
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 0.3rem 0.9rem;
  color: #A8A8A8;
  background: #E0E0E0;
  font-family: "Arboria-import", sans-serif;
  font-weight: 600;
}
@media (max-width: 767.98px) {
  .footer__firstline__offers button {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__firstline__offers button {
    width: 100%;
  }
}
.footer__firstline__mobile-apps {
  width: 35%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 0.95rem;
  font-weight: 800;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .footer__firstline__mobile-apps {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__firstline__mobile-apps {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
}
.footer__firstline__mobile-apps img {
  height: 100%;
}
@media (max-width: 767.98px) {
  .footer__firstline__mobile-apps img {
    margin: 0 5px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__firstline__mobile-apps img {
    margin: 0 5px;
  }
}
.footer__secondline {
  margin-top: 1.8rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  width: 100%;
  display: flex;
  background: #f1f1f1;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .footer__secondline {
    margin-top: 8.8rem;
    padding-top: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline {
    margin-top: 8.8rem;
    padding-top: 0rem;
  }
}
.footer__secondline__container {
  width: 91.4%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer__secondline__container {
    flex-direction: column;
    position: relative;
    top: -6.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline__container {
    flex-direction: column;
    position: relative;
    top: -6.5rem;
  }
}
.footer__secondline__contacts {
  height: 100%;
  font-size: 0.75rem;
  font-weight: 600;
  width: 22%;
  display: flex;
  flex-grow: 0;
  flex-basis: 22%;
  flex-direction: row;
  flex-wrap: wrap;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
@media (max-width: 767.98px) {
  .footer__secondline__contacts {
    width: 100%;
    flex-wrap: nowrap;
    border-right: none;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline__contacts {
    width: 100%;
    flex-wrap: nowrap;
    border-right: none;
  }
}
.footer__secondline__contacts div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__secondline__contacts div img {
  height: 25px !important;
}
.footer__secondline__contacts div p {
  text-align: center;
  padding: 8px;
  white-space: pre-line;
  line-height: 1.2rem;
}
.footer__secondline__links {
  width: 72%;
  flex-basis: 72%;
  margin-top: 3rem;
}
@media (max-width: 767.98px) {
  .footer__secondline__links {
    width: 100%;
    margin-top: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline__links {
    width: 100%;
    margin-top: 1.5rem;
  }
}
.footer__secondline__links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 767.98px) {
  .footer__secondline__links ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline__links ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .footer__secondline__links ul li {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline__links ul li {
    width: 100%;
  }
}
.footer__secondline__links ul li div {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .footer__secondline__links ul li div {
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline__links ul li div {
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}
.footer__secondline__links ul li div h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: #292929;
}
@media (max-width: 767.98px) {
  .footer__secondline__links ul li div h3 {
    padding: 0.9rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline__links ul li div h3 {
    padding: 0.9rem;
  }
}
.footer__secondline__links ul li div .contracted::after {
  position: absolute;
  right: 10%;
  font-size: 1.2rem;
  font-weight: 800;
}
@media (max-width: 767.98px) {
  .footer__secondline__links ul li div .contracted::after {
    content: "+";
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline__links ul li div .contracted::after {
    content: "+";
  }
}
.footer__secondline__links ul li div .expanded::after {
  position: absolute;
  right: 10%;
  font-size: 1.2rem;
  font-weight: 800;
}
@media (max-width: 767.98px) {
  .footer__secondline__links ul li div .expanded::after {
    content: "-";
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline__links ul li div .expanded::after {
    content: "-";
  }
}
.footer__secondline__links ul li div ul {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .footer__secondline__links ul li div ul {
    padding-bottom: 0.8rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline__links ul li div ul {
    padding-bottom: 0.8rem;
  }
}
.footer__secondline__links ul li div ul li {
  padding-top: 1.1rem;
}
@media (max-width: 767.98px) {
  .footer__secondline__links ul li div ul li {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline__links ul li div ul li {
    padding-top: 0;
  }
}
.footer__secondline__links ul li div ul li a {
  font-size: 0.65rem;
  color: #424242;
}
@media (max-width: 767.98px) {
  .footer__secondline__links ul li div ul li a {
    font-size: 0.7rem;
    font-weight: 600;
    color: #252525;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secondline__links ul li div ul li a {
    font-size: 0.7rem;
    font-weight: 600;
    color: #252525;
  }
}
.footer .footer__thirdline {
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 8px;
  text-transform: uppercase;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}
@media (max-width: 767.98px) {
  .footer .footer__thirdline {
    position: relative;
    top: -100px;
    background: #fff;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer .footer__thirdline {
    position: relative;
    top: -100px;
    background: #fff;
  }
}
.footer .footer__thirdline__container {
  width: 91.4%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer .footer__thirdline__container {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer .footer__thirdline__container {
    flex-direction: column;
  }
}
.footer .footer__thirdline__payment {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .footer .footer__thirdline__payment {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer .footer__thirdline__payment {
    display: none !important;
  }
}
.footer .footer__thirdline__payment h3 {
  margin-bottom: 10px;
}
.footer .footer__thirdline__payment div img {
  margin-right: 5px;
}
.footer .footer__thirdline__social {
  width: 30%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .footer .footer__thirdline__social {
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer .footer__thirdline__social {
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
  }
}
.footer .footer__thirdline__social h3 {
  margin-bottom: 10px;
}
.footer .footer__thirdline__social__img {
  margin-right: 15px;
}
.footer .footer__thirdline__social div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.footer .footer__thirdline__social div img {
  height: 22px;
  width: 22px;
}
.footer .footer__thirdline__social div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 5px;
}
.footer .footer__thirdline__social div div p {
  padding-top: 5px;
  font-size: 0.6rem;
  font-weight: 300;
  text-align: center;
}
.footer .footer__thirdline__accessibility {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 0.9rem;
}
@media (max-width: 767.98px) {
  .footer .footer__thirdline__accessibility {
    width: 100%;
    align-items: center;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer .footer__thirdline__accessibility {
    width: 100%;
    align-items: center;
    margin-left: 0;
  }
}
.footer .footer__thirdline__accessibility h3 {
  margin-bottom: 10px;
}
.footer .footer__thirdline__accessibility img {
  height: 22px;
  width: 22px;
}
.footer .footer__fourthline {
  font-weight: 400;
  margin-bottom: 8px;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 300;
  line-height: 1.43;
  color: #707070;
}
.footer .footer__fourthline__container {
  width: 91.4%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer .footer__fourthline__container {
    position: relative;
    top: -100px;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer .footer__fourthline__container {
    position: relative;
    top: -100px;
    flex-direction: column;
    align-items: center;
  }
}
.footer .footer__fourthline__copyright {
  flex-grow: 0;
  width: 83.333333%;
  flex-basis: 83.333333%;
}
@media (max-width: 767.98px) {
  .footer .footer__fourthline__copyright {
    width: 100%;
    height: 8rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer .footer__fourthline__copyright {
    width: 100%;
    height: 8rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 767.98px) {
  .footer .footer__fourthline__copyright::after {
    position: absolute;
    width: 100%;
    height: 15rem;
    content: "";
    background: linear-gradient(0deg, #fff 20%, transparent);
    bottom: 3.7rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer .footer__fourthline__copyright::after {
    position: absolute;
    width: 100%;
    height: 15rem;
    content: "";
    background: linear-gradient(0deg, #fff 20%, transparent);
    bottom: 3.7rem;
  }
}
@media (max-width: 767.98px) {
  .footer .footer__fourthline__copyright::before {
    content: "Ler mais";
    width: 100%;
    position: absolute;
    font-weight: 600;
    color: #000;
    font-size: 1rem;
    text-align: center;
    z-index: 999;
    bottom: 5rem;
    text-decoration: underline;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer .footer__fourthline__copyright::before {
    content: "Ler mais";
    width: 100%;
    position: absolute;
    font-weight: 600;
    color: #000;
    font-size: 1rem;
    text-align: center;
    z-index: 999;
    bottom: 5rem;
    text-decoration: underline;
  }
}
.footer .footer__fourthline__complaints {
  display: flex;
  flex-grow: 0;
  width: 16.666667%;
  flex-basis: 16.666667%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .footer .footer__fourthline__complaints {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer .footer__fourthline__complaints {
    width: 100%;
  }
}
.footer .footer__fourthline__complaints img {
  height: 60px;
}

/*# sourceMappingURL=styles.css.map */
