@font-face {
  font-family: "Arboria-import";
  src: url(/assets/Arboria/Arboria-Light.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Arboria-import";
  src: url(/assets/Arboria/Arboria-Book.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Arboria-import";
  src: url(/assets/Arboria/Arboria-Medium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Arboria-import";
  src: url(/assets/Arboria/Arboria-Bold.ttf);
  font-weight: 700;
}
body {
  font-family: "Arboria-import", sans-serif;
}

::placeholder {
  color: #afafaf;
}

.container {
  width: 91.4%;
  display: flex;
}

@media (max-width: 767.98px) {
  .mobile {
    display: inherit !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .mobile {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .tablet {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .tablet {
    display: inherit !important;
  }
}
@media (min-width: 1200px) {
  .tablet {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .desktop {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .desktop {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .desktop {
    display: inherit !important;
  }
}

@media (max-width: 767.98px) {
  .mobile-tablet {
    display: inherit !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .mobile-tablet {
    display: inherit !important;
  }
}
@media (min-width: 1200px) {
  .mobile-tablet {
    display: none !important;
  }
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
}
@media (max-width: 767.98px) {
  .header {
    padding-bottom: 8px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header {
    padding-bottom: 8px;
  }
}
.header__logo {
  justify-content: center;
  height: 60px;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header__logo__img {
    height: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__logo__img {
    height: 18px;
  }
}
@media (min-width: 1200px) {
  .header__logo__img {
    height: 21px;
  }
}
.header__logo__menu {
  position: absolute;
  left: 6%;
  cursor: pointer;
}
.header__logo__menu > img {
  width: 25px;
  filter: invert(30%) sepia(1%) saturate(1549%) hue-rotate(33deg) brightness(88%) contrast(79%);
}
.header__logo__menu::after {
  bottom: -6px;
  left: 1.2px;
  content: "menu";
  display: block;
  position: absolute;
  font-size: 9px;
  color: #4F4F4F;
}
.header__search {
  justify-content: center;
  border: 0.8px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  height: 38.813px;
}
.header__search:hover {
  border: 1px solid #252525;
  box-sizing: border-box;
}
.header__search:focus-within {
  border: 2px solid #161616;
  box-sizing: border-box;
}
.header__search:focus-within .header__search__deco {
  padding-left: 11px;
}
.header__search__input {
  width: 100%;
  font-size: 16px;
  font-family: "Arboria-import", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border: 0;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  letter-spacing: inherit;
  padding-left: 2px;
  outline: none;
}
.header__search__input:hover {
  border: none;
}
.header__search__input:active {
  border: none;
}
.header__search__input:focus {
  border: none;
}
.header__search__deco {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
}
.header__search__deco--glass {
  fill: rgba(0, 0, 0, 0.26);
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  flex-shrink: 0;
  user-select: none;
}
@media (max-width: 767.98px) {
  .header__menu {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__menu {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .header__menu {
    display: block !important;
  }
}
.header__menu__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 16px;
}
.header__menu__list__link {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.5;
}
.header__menu__list__link a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
}
.header__menu__list__link a:hover {
  border-bottom: 2px solid #000;
}

/*# sourceMappingURL=styles.css.map */
