
@font-face {
    font-family: "Arboria-import";
    src: url(/assets/Arboria/Arboria-Light.ttf);
    font-weight: 400;
 }
 @font-face {
  font-family: "Arboria-import";
  src: url(/assets/Arboria/Arboria-Book.ttf);
  font-weight: 500;
}
 @font-face {
    font-family: "Arboria-import";
    src: url(/assets/Arboria/Arboria-Medium.ttf);
    font-weight: 600;
 }

 @font-face {
    font-family: "Arboria-import";
    src: url(/assets/Arboria/Arboria-Bold.ttf);
    font-weight: 700;
 }

 body {
    font-family: "Arboria-import", sans-serif;
  }
  ::placeholder {
    color: rgb(175, 175, 175);
  }
  .container {
    width: 91.4%;
    display: flex; 
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }