
@font-face {
    font-family: "Arboria-import";
    src: url(/assets/Arboria/Arboria-Light.ttf);
    font-weight: 400;
 }
 @font-face {
  font-family: "Arboria-import";
  src: url(/assets/Arboria/Arboria-Book.ttf);
  font-weight: 500;
}
 @font-face {
    font-family: "Arboria-import";
    src: url(/assets/Arboria/Arboria-Medium.ttf);
    font-weight: 600;
 }

 @font-face {
    font-family: "Arboria-import";
    src: url(/assets/Arboria/Arboria-Bold.ttf);
    font-weight: 700;
 }

 body {
    font-family: "Arboria-import", sans-serif;
    
  }
  * {
    transition: all 0.15s linear;
    }
  ::placeholder {
    color: rgb(175, 175, 175);
  }
  .container {
    width: 91.4%;
    display: flex;
    justify-content: space-between; 
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  p {
    font-family: "Arboria-import", sans-serif;
  }

  .disabled {

    display: none !important;
    
  }
  .disabled_li {
    @include for-phone-only { display: none !important;}
    @include for-tablet-only { display: none !important;}
    
    
  }