
 @import "base", "responsive", "header", "main";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;  
  box-sizing: border-box;
  border-top: 3px solid #E0E0E0;
  margin-top: 1.5rem;
  padding-top: 16px;
 

  &__firstline{
    display: flex;    
    align-items: center;
    width: 91.4%;
    height: 35px;
    justify-content: space-between;
    &__offers{
      width: 70%;
      justify-content: flex-start;
      display: flex;
      align-items: center;
      flex-direction: row;

      & p {
        height: 35px;
        line-height: 35px;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 0.8125rem;
        font-weight: 600;
        margin-right: 1rem;
      }

      &__form {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        
        &__input{
          display: flex;
          align-items: center;
          border-bottom: 1px inset #ccc;
          box-sizing: border-box;
          margin-right: 1rem;
            
          &:hover{             
            border-bottom: 1px inset rgb(54, 54, 54);
          }
          &:focus-within{             
            border-bottom: 1px inset rgb(54, 54, 54);
          }
          &:nth-child(2):after {
            content: "@";
            color: rgb(34, 34, 34);           
            top: 0px;
            left: 0px;
            font-size: 0.8rem;
            position: relative;             
            font-weight: 600;        
          }

          & input {
            border: none;            
            outline: none;      
            font-size: 0.9rem;
            width: 12rem;                
            background: transparent;
            padding: 0;
            font-family: "Arboria-import", sans-serif; 
            font-weight: 600;
            &:active{border: none;}
            &:focus{ border: none;}
          }
          & select {
            border: none;            
            outline: none;      
            font-size: 0.9rem;
            width: 6rem;                
            background: transparent;            
            padding: 0;
            font-family: "Arboria-import", sans-serif; 
            font-weight: 600;
            color: rgb(99, 99, 99);
            &:active{border: none;}
            &:focus{ border: none;}
          }
        }
        & button {
          text-transform: uppercase;
          cursor: default;
          pointer-events: none;
          border: transparent;
          border-radius: 4px;
          box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
          font-size: 0.9rem;
          padding: 0.4rem 0.9rem;
          color: #fff;
          background: #000;
          font-family: "Arboria-import", sans-serif; 
          font-weight: 600;  
        }
      }
    }
    &__mobile-apps{
      width: 35%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      font-size: 0.95rem;
      font-weight: 800;
      text-transform: uppercase;
      height: 100%;
      
      & img {
        height: 100%;        
      }

    }
  }
}